[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = """functions/UI_definitions.lua"""
pattern = '''{n=G.UIT.R, config={id = 'select_blind_button', align = "cm", ref_table = blind_choice.config, colour = run_info_colour, minh = 0.6, minw = 2.7, padding = 0.07, r = 0.1, emboss = 0.08}, nodes={
            {n=G.UIT.T, config={text = localize(blind_state, 'blind_states'), scale = 0.45, colour = G.C.UI.TEXT_LIGHT, shadow = true}}
          }}'''
position = "after"
payload = ''',
(not run_info and {n=G.UIT.R, config={id = 'select_blind_button_harder', align = "cm", ref_table = blind_choice.config, colour = disabled and G.C.UI.BACKGROUND_INACTIVE or G.C.PURPLE, minh = 0.3, minw = 2.7, padding = 0.07, r = 0.1, shadow = true, hover = true, one_press = true, button = 'select_blind_harder', func = 'hover_upgrade_blind'}, nodes={
    {n=G.UIT.T, config={text = "Upgrade Blind", scale = 0.35, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.UI.TEXT_LIGHT, shadow = not disabled}}
}} or nil)
'''
match_indent = true


[[patches]]
[patches.pattern]
target = """functions/button_callbacks.lua"""
pattern = '''
local _top_button = e.UIBox:get_UIE_by_ID('select_blind_button')
'''
position = "after"
payload = '''
local harder_button = e.UIBox:get_UIE_by_ID('select_blind_button_harder')
'''
match_indent = true

[[patches]]
[patches.pattern]
target = """functions/button_callbacks.lua"""
pattern = '''
_top_button.children[1].config.colour = G.C.WHITE
'''
position = "after"
payload = '''
harder_button.config.button = 'select_blind_harder'
harder_button.config.colour = G.C.PURPLE
harder_button.config.hover = true
harder_button.children[1].config.colour = G.C.WHITE
'''
match_indent = true


[[patches]]
[patches.pattern]
target = """functions/button_callbacks.lua"""
pattern = '''
_top_button.children[1].config.colour = G.C.UI.TEXT_INACTIVE
'''
position = "after"
payload = '''
harder_button.config.colour = G.C.UI.BACKGROUND_INACTIVE
harder_button.config.button = nil
harder_button.config.hover = false
harder_button.children[1].config.colour = G.C.UI.TEXT_INACTIVE
'''
match_indent = true

[[patches]]
[patches.pattern]
target = """functions/UI_definitions.lua"""
pattern = '''local blind_amt = get_blind_amount(G.GAME.round_resets.blind_ante)*blind_choice.config.mult*G.GAME.starting_params.ante_scaling'''
position = "after"
payload = '''
local dormant_blind_amt = aquill.calc_dormant_blind_size(blind_amt)
local dormant_blind_text_scale = score_number_scale(score_number_scale(0.9-(0.05*math.min(#tostring(dormant_blind_amt)-4, 6)), dormant_blind_amt), dormant_blind_amt)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = """functions/UI_definitions.lua"""
pattern = '''{n=G.UIT.T, config={text = number_format(blind_amt), scale = score_number_scale(0.9, blind_amt), colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.RED, shadow =  not disabled}}'''
position = "at"
payload = '''
{n=G.UIT.T, config={text = number_format(blind_amt), scale = dormant_blind_text_scale, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.RED, shadow =  not disabled}},
{n=G.UIT.T, config={text = "/", scale = dormant_blind_text_scale, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.WHITE, shadow = not disabled}},
{n=G.UIT.T, config={text = ""..number_format(dormant_blind_amt).."", scale = dormant_blind_text_scale, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.PURPLE, shadow =  not disabled}}
'''
match_indent = true





[[patches]]
[patches.pattern]
target = """functions/UI_definitions.lua"""
pattern = '''{n=G.UIT.T, config={text = string.rep(localize("$"), blind_choice.config.dollars)..'+', scale = 0.35, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.MONEY, shadow = not disabled}}'''
position = "at"
payload = '''
{n=G.UIT.T, config={text = string.rep(localize("$"), blind_choice.config.dollars + math.min(G.GAME.dormant_bonus, 0)), scale = 0.35, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.MONEY, shadow = not disabled}},
{n=G.UIT.T, config={text = string.rep(localize("$"), math.max(0, -G.GAME.dormant_bonus)), scale = 0.35, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.RED, shadow = not disabled}},
{n=G.UIT.T, config={text = string.rep(localize("$"), G.GAME.dormant_bonus)..'+', scale = 0.35, colour = disabled and G.C.UI.TEXT_INACTIVE or G.C.PURPLE, shadow = not disabled}},
'''
match_indent = true