[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = """=[SMODS _ "src/loader.lua"]"""
pattern = '''this patch will never match because meow'''
position = "after"
payload = '''fuh'''
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
if G.AA_CANVAS then 
    love.graphics.push()
        love.graphics.scale(1/G.CANV_SCALE)
        love.graphics.draw(G.AA_CANVAS, 0, 0)
    love.graphics.pop()
end
'''
position = "before"
payload = '''
local last_canvas = self.CANVAS
for key, shader in pairs(aquill.shader_stack) do
	if (shader.should_apply and shader.should_apply()) or (not shader.should_apply) then
		assert(G.SHADERS[shader.key], "Shader " .. key .. " not found in G.SHADERS")
		
		if not shader.canvas then
			shader.canvas = aquill.create_canvas()
		end
		
		love.graphics.setCanvas(shader.canvas)

		for _, send in pairs(shader.send or {}) do
			G.SHADERS[shader.key]:send(send.key, send.func and send.func() or send.value or 0)
		end

		love.graphics.setShader(G.SHADERS[shader.key])
		love.graphics.draw(last_canvas, 0, 0)
        last_canvas = shader.canvas
	end
end
love.graphics.setShader()
love.graphics.setCanvas()
if last_canvas then
    love.graphics.draw(last_canvas, 0, 0)
end
'''
match_indent = true




