[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = """=[SMODS _ "src/loader.lua"]"""
pattern = '''this patch will never match because meow'''
position = "after"
payload = '''fuh'''
match_indent = true


